### Acknowledgement
This notebook contains material from the following resources:
1. https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html
2. https://www.w3schools.com/python/pandas/default.asp

### Introduction
Pandas is a Python library used for data analysis and manipulation. It has functions for analyzing, cleaning, exploring, and manipulating data.

The name "Pandas" has a reference to "Python Data Analysis" and was created by Wes McKinney in 2008. 

To use Pandas, first import ``Pandas`` under the alias ``pd``.

**alias:** In Python alias are an alternate name for referring to the same thing.

Create an alias with the ``as`` keyword while importing:

In [2]:
import pandas as pd

### Checking the version of Pandas
The version string is stored under __version__ attribute.

In [3]:
pd.__version__

'0.23.4'

### Fundamental  Data Structures in Pandas

The two fundamental Pandas data structures are: 
- Series
- DataFrame

### The Pandas Series Object

A Pandas Series is a **one-dimensional array** of indexed data. It can be created from a list or array as follows:

In [9]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

As we see in the output, the Series wraps both a sequence of values and a sequence of indices, which we can access with the ``values`` and ``index`` attributes.

In [13]:
myvar.values

array([1, 7, 2], dtype=int64)

In [14]:
myvar.index

RangeIndex(start=0, stop=3, step=1)

### Labels
If nothing else is specified, the values are labeled with their index number. First value has index 0, second value has index 1 etc.

This label can be used to access a specified value.

In [15]:
myvar[0]

1

### Create Labels
With the ``index`` argument, you can name your own labels.

In [16]:
a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)

x    1
y    7
z    2
dtype: int64

In [17]:
myvar["x"]

1

### Creating Series from Dictionary

In [34]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [33]:
population

a    26448193
b    38332521
c    12882135
f    19552860
x    19651127
dtype: int64

Unlike a dictionary, though, the Series also supports array-style operations such as slicing:

In [26]:
population['California': 'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [27]:
population_dict['California': 'Florida']

TypeError: unhashable type: 'slice'

## DataFrames
Data sets in Pandas are usually multi-dimensional tables, called DataFrames.

Series is like a column, a DataFrame is the whole table.

### Constructing DataFrame objects

A Pandas DataFrame can be constructed in a variety of ways. Here we'll give several examples.

#### From a single Series object
A DataFrame is a collection of Series objects, and a single-column DataFrame can be constructed from a single Series:

In [39]:
pd.DataFrame({'population': population})

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

#### From a dictionary of Series objects

A DataFrame can be constructed from a dictionary of Series objects as well:

In [36]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)

In [37]:
states = pd.DataFrame({'population':population,'area':area})

In [38]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

#### Retrieve Columns

In [46]:
states.columns

Index(['population', 'area'], dtype='object')

#### Retrieve Row Indices

In [47]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

### Locate Row
As you can see from the result above, the DataFrame is like a table with rows and columns.

Pandas use the loc attribute to return one or more specified row(s)

In [49]:
states.loc['California']

population    38332521
area            423967
Name: California, dtype: int64

In [51]:
states.loc[['California','Florida']]

            population    area
California    38332521  423967
Florida       19552860  170312

### Load Files Into a DataFrame

In [52]:
iris = pd.read_csv('dataset/iris.csv')

In [56]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
10            5.4          3.7           1.5          0.2     Setosa
11            4.8          3.4           1.6          0.2     Setosa
12            4.8          3.0           1.4          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
21            5.1          3.7           1.5          0.4     Setosa
22            4.6          3.6           1.0          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
24            4.8          3.4           1.9          0.2     Setosa
25            5.0          3.0           1.6          0.2     Setosa
26            5.0          3.4           1.6          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
28            5.2          3.4           1.4          0.2     Setosa
29            4.7          3.2           1.6          0.2     Setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

### Viewing the Data
One of the most used method for getting a quick overview of the DataFrame, is the head() method.

The `head()` method returns the headers and a specified number of rows, starting from the top.

In [57]:
iris.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

There is also a ``tail()`` method for viewing the last rows of the DataFrame.

The ``tail()`` method returns the headers and a specified number of rows, starting from the bottom.

In [58]:
iris.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

### Info About the Data
The DataFrames object has a method called ``info()``, that gives you more information about the data set.

In [59]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
sepal.length    150 non-null float64
sepal.width     150 non-null float64
petal.length    150 non-null float64
petal.width     150 non-null float64
variety         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [60]:
iris.describe()

       sepal.length  sepal.width  petal.length  petal.width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

### Check Distribution of Values in String column

In [61]:
iris['variety'].value_counts()

Versicolor    50
Setosa        50
Virginica     50
Name: variety, dtype: int64

### Create New Column

In [62]:
iris['sepal'] = iris['sepal.length']+iris['sepal.width']

In [63]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety  sepal
0             5.1          3.5           1.4          0.2     Setosa    8.6
1             4.9          3.0           1.4          0.2     Setosa    7.9
2             4.7          3.2           1.3          0.2     Setosa    7.9
3             4.6          3.1           1.5          0.2     Setosa    7.7
4             5.0          3.6           1.4          0.2     Setosa    8.6
5             5.4          3.9           1.7          0.4     Setosa    9.3
6             4.6          3.4           1.4          0.3     Setosa    8.0
7             5.0          3.4           1.5          0.2     Setosa    8.4
8             4.4          2.9           1.4          0.2     Setosa    7.3
9             4.9          3.1           1.5          0.1     Setosa    8.0
10            5.4          3.7           1.5          0.2     Setosa    9.1
11            4.8          3.4           1.6          0.2     Setosa    8.2
12            4.8          3.0           1.4          0.1     Setosa    7.8
13            4.3          3.0           1.1          0.1     Setosa    7.3
14            5.8          4.0           1.2          0.2     Setosa    9.8
15            5.7          4.4           1.5          0.4     Setosa   10.1
16            5.4          3.9           1.3          0.4     Setosa    9.3
17            5.1          3.5           1.4          0.3     Setosa    8.6
18            5.7          3.8           1.7          0.3     Setosa    9.5
19            5.1          3.8           1.5          0.3     Setosa    8.9
20            5.4          3.4           1.7          0.2     Setosa    8.8
21            5.1          3.7           1.5          0.4     Setosa    8.8
22            4.6          3.6           1.0          0.2     Setosa    8.2
23            5.1          3.3           1.7          0.5     Setosa    8.4
24            4.8          3.4           1.9          0.2     Setosa    8.2
25            5.0          3.0           1.6          0.2     Setosa    8.0
26            5.0          3.4           1.6          0.4     Setosa    8.4
27            5.2          3.5           1.5          0.2     Setosa    8.7
28            5.2          3.4           1.4          0.2     Setosa    8.6
29            4.7          3.2           1.6          0.2     Setosa    7.9
..            ...          ...           ...          ...        ...    ...
120           6.9          3.2           5.7          2.3  Virginica   10.1
121           5.6          2.8           4.9          2.0  Virginica    8.4
122           7.7          2.8           6.7          2.0  Virginica   10.5
123           6.3          2.7           4.9          1.8  Virginica    9.0
124           6.7          3.3           5.7          2.1  Virginica   10.0
125           7.2          3.2           6.0          1.8  Virginica   10.4
126           6.2          2.8           4.8          1.8  Virginica    9.0
127           6.1          3.0           4.9          1.8  Virginica    9.1
128           6.4          2.8           5.6          2.1  Virginica    9.2
129           7.2          3.0           5.8          1.6  Virginica   10.2
130           7.4          2.8           6.1          1.9  Virginica   10.2
131           7.9          3.8           6.4          2.0  Virginica   11.7
132           6.4          2.8           5.6          2.2  Virginica    9.2
133           6.3          2.8           5.1          1.5  Virginica    9.1
134           6.1          2.6           5.6          1.4  Virginica    8.7
135           7.7          3.0           6.1          2.3  Virginica   10.7
136           6.3          3.4           5.6          2.4  Virginica    9.7
137           6.4          3.1           5.5          1.8  Virginica    9.5
138           6.0          3.0           4.8          1.8  Virginica    9.0
139           6.9          3.1           5.4          2.1  Virginica   10.0
140           6.7          3.1           5.6          2.4  Virginica    9.8
141           6.9          3.1           5.1          2.3  Virginica   10.0
142           5.8          2.7           5.1          1.9  Virginica    8.5
143           6.8          3.2           5.9          2.3  Virginica   10.0
144           6.7          3.3           5.7          2.5  Virginica   10.0
145           6.7          3.0           5.2          2.3  Virginica    9.7
146           6.3          2.5           5.0          1.9  Virginica    8.8
147           6.5          3.0           5.2          2.0  Virginica    9.5
148           6.2          3.4           5.4          2.3  Virginica    9.6
149           5.9          3.0           5.1          1.8  Virginica    8.9

[150 rows x 6 columns]

### Delete a Column

In [64]:
del iris['sepal']

In [65]:
iris

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
10            5.4          3.7           1.5          0.2     Setosa
11            4.8          3.4           1.6          0.2     Setosa
12            4.8          3.0           1.4          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
21            5.1          3.7           1.5          0.4     Setosa
22            4.6          3.6           1.0          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
24            4.8          3.4           1.9          0.2     Setosa
25            5.0          3.0           1.6          0.2     Setosa
26            5.0          3.4           1.6          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
28            5.2          3.4           1.4          0.2     Setosa
29            4.7          3.2           1.6          0.2     Setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]