In [1]:
def func1():
    print("Hello world!")

In [2]:
func1()

Hello world!

In [22]:
def sum_of_numbers(x1=0,x2=0):
    print("x1: " , str(x1))
    print("x2: " , str(x2))
    ans = x1+x2
    return ans
    #print("This is ans: ", str(ans))

In [23]:
result = sum_of_numbers(2,6)

x1:  2
x2:  6

In [24]:
print(result)

8

In [16]:
sum_of_numbers(15,45)

x1:  15
x2:  45

60

In [17]:
sum_of_numbers(x2 = 15, x1=34)

x1:  34
x2:  15

49

In [18]:
sum_of_numbers()

x1:  0
x2:  0

0

In [8]:
result = sum_of_numbers(2,3)

In [9]:
print(result)

5

In [5]:
sum_of_numbers(21,21)

42

In [26]:
def empty_func():
    pass

In [27]:
def my_func(x1,x2,x3):
    return x1,x2,x3

In [28]:
my_func(2,3,4)

(2, 3, 4)

In [29]:
var1,var2,var3 = my_func(2,3,4)

In [30]:
print(var1)

2

In [31]:
def multiply(*nums):
    print(nums)
    print(type(nums))
    ans = 1
    for x in nums:
        ans = ans * x
    return ans

In [35]:
def sum_nums(*nums):
    print(nums)
    print(type(nums))
    ans = 0
    for x in nums:
        ans = ans + x
    return ans

In [36]:
sum_nums(2,3,4)

(2, 3, 4)
<class 'tuple'>

9

In [33]:
multiply(2,3,4)

(2, 3, 4)
<class 'tuple'>

24

In [34]:
multiply(2,5,3,2,7)

(2, 5, 3, 2, 7)
<class 'tuple'>

420

In [38]:
def my_function(**person):
    print("His last name is " + person["fname"])

my_function(firstname = "Ahmed", lname = "Malik")

KeyError: 'fname'

In [1]:
def func1():
    print("This is func1")
    #func1()

In [2]:
func1()

This is func1

In [1]:
def factorial(n):
    # Base case: 1! = 1
    if n == 1:
        return 1
    # Recursive case: n! = n * (n-1)!
    else:
        return n*factorial(n-1)

In [3]:
ans = lambda x1,x2:x1+x2

In [6]:
ans(2,3)

5

In [10]:
sequences = ["orange","apple","carrot"]

result = filter(lambda x: len(x) > 5, sequences) ## filter even numbers only

In [11]:
list(result)

['orange', 'carrot']