## Tuples
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and `unchangeable`.

Tuples are written with round brackets.

In [1]:
thistuple = ("item1", "item2", "item3")
print(thistuple)

('item1', 'item2', 'item3')

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

In [2]:
thistuple[0]

'item1'

### Unchangeable
Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

In [3]:
thistuple[0] = "x"

TypeError: 'tuple' object does not support item assignment

### Tuple Length
To determine how many items a tuple has, use the `len()` function:

In [4]:
len(thistuple)

3

### Tuple Items - Data Types

A tuple can contain different data types:

In [5]:
mixedTuple = ("Pakistan",216.6) #population of Pakistan in millions

### Access Tuple Items
Tuple items can be accessed by using  Positive or Negative indexing (same as in List or arrays)

In [9]:
mixedTuple[0]

'Pakistan'

In [10]:
mixedTuple[-1]

216.6

### Unpacking a Tuple
When we create a tuple, we normally assign values to it. This is called **"packing"** a tuple. In Python, we are also allowed to extract the values back into variables. This is called **"unpacking"**:

In [11]:
country, population = mixedTuple

In [12]:
country

'Pakistan'

In [13]:
population

216.6

## Sets
Sets are used to store multiple items in a single variable.
Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is both **unordered and unindexed**. Set items are unordered, unchangeable, and do not allow duplicate values. Sets are written with curly brackets.
- Unordered: Unordered means that the items in a set do not have a defined order.
- Unindexed: Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
- Unchangeable: Sets are unchangeable, meaning that we cannot change the items after the set has been created.

In [14]:
set1 = {10,20,30}

In [16]:
set1

{10, 20, 30}

In [19]:
print(set1)

{10, 20, 30}

In [20]:
# Duplicate values will be ignored.
set2 = {10,20,30,40,30}

In [21]:
set2

{10, 20, 30, 40}

In [23]:
# No indexing
set2[2]

TypeError: 'set' object does not support indexing

### Access Items in a Set
You cannot access items in a set by referring to an index or a key.
But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [24]:
20 in set2

True

### Add Items in a Set
Once a set is created, you cannot change its items, but you can add new items. To add one item to a set use the `add()` method.

In [25]:
set2.add(80)

In [26]:
set2

{10, 20, 30, 40, 80}

### Remove Items from Set
To remove an item in a set, use the `remove()`, or the `discard()` method.

In [27]:
set2

{10, 20, 30, 40, 80}

In [28]:
set2.remove(30)

In [29]:
set2

{10, 20, 40, 80}

In [30]:
set2.discard(40)

In [31]:
set2

{10, 20, 80}

Difference between Remove and Discard: If the item to remove does not exist, discard() will NOT raise an error.

In [32]:
set2

{10, 20, 80}

In [33]:
set2.discard(65)

In [34]:
set2

{10, 20, 80}

In [35]:
set2.remove(65)

KeyError: 65

### Set Operations

1. Union

In [36]:
a = {1,5,4,3}
b= {2,3}
c = a.union(b)

In [37]:
c

{1, 2, 3, 4, 5}

2. Intersection

In [38]:
c  = a.intersection(b)

In [39]:
c

{3}

3. Difference

In [40]:
c = a-b

In [41]:
c

{1, 4, 5}

4. issuperset

In [43]:
a.issuperset(b)

False